<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true">
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </source>
    <php>
        <ini name="error_reporting" value="E_ALL"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="0"/>
    </php>
    <testsuites>
        <testsuite name="bundle">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
